name: Update Notebook
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule: 
    - cron: "0 */12 * * *" 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        architecture: 'x64'
    - name: Install library and other requirements
      run: |
        pip install jupyter nbconvert
        pip install -r requirements.txt 
    - name: Run Notebooks
      env:
        GH_TOKEN:  ${{ secrets.GH_TOKEN }}
      run: |
 
        wget https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-{2002..2022}.json.zip 
        unzip -o "*.zip" 
        wget https://epss.cyentia.com/epss_scores-current.csv.gz
        gzip -d epss_scores-current.csv.gz   
         jupyter nbconvert --ExecutePreprocessor.timeout=-1 --to notebook --inplace --execute KEV-EPSS.ipynb
         rm *.json
         rm *.zip
         rm epss_scores-current.csv
    - name: Commit changes
      uses: EndBug/add-and-commit@v9
      with:
          default_author: github_actions
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
